.at-a-glance-details {
    display: flex;
    gap: 15px;
    padding: 30px
}


.aag-info span {
    padding: 15px;
}

.group-details-image {
    width: 500px;
}

.in-depth-details {
    background-color: whitesmoke;
    padding-left: 30px;
}

.in-depth-details .event-container {
    width: 80%;
    background-color: white;
}

.join-button {
    color: white;
    background-color: red;
}

.organizer-buttons-container {
    display: flex;
    gap: 15px;
}

.organizer-buttons {
    height: 20px;
    width: 100px;
    background-color: lightslategray;

}
