
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;

}

.intro {
    width: 48%;
}

.intro-img {
    max-width: 48%;
    border-radius: 25px;
}

.how {
    margin: 50px;
    width: 300px;
    text-align: center;
}

.how h3 {
    font-size: 25px;
}

.details-nav-container {
    margin-left: 30px;
    display: flex;
}

.details-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

.details-img {
    border-radius: 25px;
    height: 200px;
    margin: 15px;
}

.join-button {
    list-style-type: none;
    padding: 15px 50px;
    background-color: teal;
    color: white;
    box-shadow: 3px 3px 0px black;
    border: 1px solid black;
    margin: 20px;
    cursor: pointer;
    text-align: center;

}

.details-p {
    width: 80%;
}

.landing-links {
    text-decoration: underline;
    font-size: 25px;
    color: teal;
}

.no-session-user {
    text-decoration: none;
    font-size: 25px;
    color: lightslategray;
    cursor: default;
}
