.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

h1 {
  font-size: 30px;
  padding-left: 30px;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightslategray;
}

.nav-bar-link {
  color: red;
  text-decoration: none;
}

.list-links {
  margin: 50px 0px;
}

.list-link {
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
  color: black;
  margin: 10px;
}

.active {
  color: teal;
  text-decoration: underline;
}
